body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.section {
  height: 600px;
}
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}
.brand-logo {
  font-family: 'Oswald', sans-serif; 
}
/* label color */
.input-field label, h4, .collapsible{
  color: #000;
}
.parallax-container {
  height: 663px;
}
#shirt-price-label, #dress-price-label {
  font-size: 1.5em;
}
footer {
  height: 244.84px
}
.foot-bottom {
  margin-top: 150px;
}